@layer reset, global, components, overrides;

@import url("./reset.css") layer(reset);

@layer global{
    :root{

        /* -Colors- */
        /* --darke-mode-- */
        --dm_body_color:#252525;
        --dm_div_color:#474747;
        --dm_todo_bg_color:#363636;
        --dm_notAtive_icon_color:#666666;
        --dm_accent_color:#5D38E6;
        --dm_accent_second_color:#8E80C2;
        --dm_text_color:#EBEBEB;

        /* --light-mode-- */
        --lm_body_color:#EAEAEA;
        --lm_div_color:#FAFAFA;
        --lm_toodo_bg_color:#F1F1F1;
        --lm_notAtive_icon_color:#666666;
        --lm_accent_color:#E68338;
        --lm_accent_second_color:#BB8037;
        --lm_text_color:#EBEBEB;

        

        /* Font-size */
        --header_2:2rem;
        --header_3:1.5rem;
        --paragraph:1rem;
    }


    @font-face {
        font-family: gruppo;
        src: url(../fonts/Gruppo/Gruppo-Regular.ttf);
      }
      @font-face {
        font-family: teko;
        src: url(../fonts/Teko/Teko-VariableFont_wght.ttf);
      }

      h1,h2,h3,h4,h5,h6{
        font-family: teko;
        font-size: 1.7rem;
        letter-spacing: .08rem;
        
      }
      p,button, li, input,.checkbox{
        font-family: gruppo;
        font-size: 1.2rem;
       
      }




      /* dette code er til todoLIst */
      li {
        color: var(--dm_text_color);
        list-style-type: none;
        cursor:pointer;
        background-color: var(--dm_accent_color);
        border-radius: 8px;
        min-height: 3rem;
        max-width: 24rem;
        text-wrap:wrap;
        align-content: center;

        border: solid 20px var(--dm_accent_color);
        
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        
       
      }
      /* li:hover{
        background-color: var(--dm_accent_second_color);
        border-color:var(--dm_accent_second_color) ;
      } */
      
     

      .checkbox{
        position: relative;
        
        display: flex;
         max-width: 14rem;
        cursor: pointer;
        flex-direction: row;
        justify-content: center;
        align-items: center;
      }
      .checkbox input{
        position: absolute;
        height: 0;
        width: 0;
        cursor: pointer;
      }
      .check{
        position: absolute;
        height: 20px;
        width: 20px;
        border: 2px solid var(--dm_text_color);
        border-radius: 3px;
        left: 17rem;

        transition: 2 ease-in-out;
      }

      .checkbox:hover input ~ .check{
        border-color:var(--dm_accent_second_color);
        
      }

      .checkbox input:checked ~ .check::after{
        background-color: var(--dm_text_color);
        border-color: var(--dm_text_color);
        
      }

      .check::after{
        content: "";
        position: absolute;
        width: 5px;
        height: 5px;
        border: solid var(--dm_accent_color);
        border-width: 3px 3px 3px 3px;
        border-radius: 1px;
        background-color: var(--dm_accent_color);
        left: 2.5px;
        top: 2.5px;

      }
   
      svg path {
        stroke: var(--dm_accent_second_color);
      }
      svg:hover path{
        stroke: var(--dm_text_color);
      }
     
      
}