---

---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Todolist</title>
  </head>
  <body data-theme="dark">
    <header>
      <select name="" id="">
        <option value="dark">Dark</option>
        <option value="light">Light</option>
      </select>
    </header>
    <main>
      <slot />
    </main>
    <footer></footer>
  </body>
</html>

<style>
  body {
    margin-top: 1rem;
    background-color: var(--dm_body_color);
    display: grid;
    grid-template-columns: [full-start] 1fr [content-start]auto auto[content-end] 1fr[full-end];

    & > * {
      grid-column: full;
      display: grid;
      grid-template-columns: subgrid;
    }
  }
  select {
    grid-column: 3;
    margin-right: 2rem;
  }

  @media screen and (width < 750px) {
    body {
      margin-top: 1rem;
      background-color: var(--dm_body_color);
      display: grid;
      grid-template-columns: [full-start] 1fr [content-start]auto[content-end] 1fr[full-end];
    }
    select {
      grid-column: 1;
      margin-right: 2rem;
    }
    main {
      margin: 2rem;
    }
  }
  select {
    width: 5rem;
    height: 2.5rem;
    border-color: var(--dm_accent_second_color);
    border-radius: 8px;
    color: var(--dm_change_color);
    background-color: var(--dm_body_color);
    text-align: center;
    grid-column: 3;
    margin-bottom: 1rem;
    border-width: 0.15rem;
    grid-column: 3;
    margin-right: 2rem;
  }
  header {
    display: flex;
    justify-content: flex-end;
    grid-row: 1;
  }
</style>
<script>
  document.querySelector("select").addEventListener("change", colorTheme);

  const bodyc = document.querySelector("body");

  function colorTheme(evt) {
    let colName = evt.target.value;

    bodyc.setAttribute("data-theme", colName);
  }
</script>
