---

---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Todolist</title>
  </head>
  <body>
    <header></header>
    <main>
      <slot />
    </main>
    <footer></footer>
  </body>
</html>

<style>
  body {
    margin-top: 4rem;
    background-color: var(--dm_body_color);
    display: grid;
    grid-template-columns: [full-start] 1fr [content-start]auto auto[content-end] 1fr[full-end];

    & > * {
      grid-column: full;
      display: grid;
      grid-template-columns: subgrid;
    }
  }
</style>
